@import '../../../../assets/themes/variables';

.add-btn {
  border: 2px solid transparent;
  height: 40px;
  background-color: $color-main-9;
  color: $color-main-2;
  font-size: $font-size-16px;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  border-radius: 40px;
  transition: 0.2s all;
  cursor: pointer;
  outline: none;
  .fas {
    margin-right: 5px;
    font-size: $font-size-12px;
    visibility: hidden;
  }
  &:hover {
    background-color: $color-main-2;
    color: $color-main-3;
    border-color: $color-main-3;
    .fas {
      visibility: visible;
    }
  }
}

.in-cart {
  background-color: $color-main-10;
  &:hover {
    color: $color-main-10;
    border-color: $color-main-10;
  }
}
