<nav class="nav-bar">
  <ul class="links-list">
    <li class="info-item link-item">
      <span>
        {{ 'CATEGORIES.home' | translate }}
      </span>
    </li>
    <li class="info-item link-item">
      <span>
        {{ 'CATEGORIES.laptops' | translate }}
      </span>
    </li>
    <li class="info-item link-item">
      <span>
        {{ 'CATEGORIES.pc' | translate }}
      </span>
    </li>
    <li class="info-item link-item">
      <span>
        {{ 'CATEGORIES.monitors' | translate }}
      </span>
    </li>
    <li class="info-item link-item">
      <span>
        {{ 'CATEGORIES.accessories' | translate }}
      </span>
    </li>
    <li class="info-item link-item">
      <span>
        {{ 'CATEGORIES.discounts' | translate }}
      </span>
    </li>
  </ul>
</nav>
