@import '../../../../assets/themes/variables';

.price-container {
  justify-content: flex-start;
}

.price {
  font-size: 24px;
  margin: 10px 10px 15px 0;
  font-weight: 700;
  color: $color-main-3;
}

.old-price {
  font-size: 18px;
  font-weight: 400;
  color: $color-main-8;
  text-decoration: line-through;
}

.in-stock {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 30px;
  color: $color-main-3;
}
