@import '../../../../assets/themes/variables';

.price {
  &-curr {
    font-size: $font-size-24px;
    font-weight: $font-weight-bold;
    color: $color-main-3;
    &.small {
      font-size: $font-size-18px;
    }
  }

  &-old {
    font-size: $font-size-18px;
    font-weight: $font-weight-normal;
    color: $color-main-8;
    text-decoration: line-through;
    &.small {
      font-size: $font-size-12px;
    }
  }

  &-label-in-stock {
    font-size: $font-size-12px;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    margin-left: 30px;
    color: $color-main-3;
  }
}
