<footer class="footer">
  <div class="container">
    <!--=================
    TODO:need put corect links
    ====================-->
    <div class="top-section">
      <div class="box">
        <h3 class="title">Lorem Lorem</h3>
        <div class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div>
        <ul class="main-links">
          <li class="link">
            <a href="#" class="link-item">
              <i class="fa fa-map-marker"></i>
              1734 Stonecoal Road
            </a>
          </li>
          <li class="link">
            <a href="#" class="link-item">
              <i class="fa fa-phone"></i>
              +021-95-51-84
            </a>
          </li>
          <li class="link">
            <a href="#" class="link-item">
              <i class="fa fa-envelope-o"></i>
              email@email.com
            </a>
          </li>
        </ul>
      </div>
      <div class="box">
        <h3 class="title">Categories</h3>
        <ul class="main-links">
          <li class="link">
            <a href="#" class="link-item">
              Hot deals
            </a>
          </li>
          <li class="link">
            <a href="#" class="link-item">
              Laptops
            </a>
          </li>
          <li class="link">
            <a href="#" class="link-item">
              Smartphones
            </a>
          </li>
          <li class="link">
            <a href="#" class="link-item">
              Cameras
            </a>
          </li>
          <li class="link">
            <a href="#" class="link-item">
              Accessories
            </a>
          </li>
        </ul>
      </div>
      <div class="box">
        <h3 class="title">Information</h3>
        <ul class="main-links">
          <li class="link">
            <a href="#" class="link-item">
              About Us
            </a>
          </li>
          <li class="link">
            <a href="#" class="link-item">
              Contact Us
            </a>
          </li>
          <li class="link">
            <a href="#" class="link-item">
              Privacy Policy
            </a>
          </li>
          <li class="link">
            <a href="#" class="link-item">
              Orders and Returns
            </a>
          </li>
          <li class="link">
            <a href="#" class="link-item">
              Terms & Conditions
            </a>
          </li>
        </ul>
      </div>
      <div class="box">
        <h3 class="title">Service</h3>
        <ul class="main-links">
          <li class="link">
            <a href="#" class="link-item">
              My Account
            </a>
          </li>
          <li class="link">
            <a href="#" class="link-item">
              View Cart
            </a>
          </li>
          <li class="link">
            <a href="#" class="link-item">
              Wishlist
            </a>
          </li>
          <li class="link">
            <a href="#" class="link-item">
              Track My Order
            </a>
          </li>
          <li class="link">
            <a href="#" class="link-item">
              Help
            </a>
          </li>
        </ul>
      </div>

    </div>
    <div class="bottom-section">
			<!-- TODO: you need to decide if this block is needed -->
      <!-- <div class="credit-cards">
        <ul class="list-credit">
          <li class="list-credit-items"><a href="#" class="list-credit-link"><i class="fa fa-cc-visa"></i></a></li>
          <li class="list-credit-items"><a href="#" class="list-credit-link"><i class="fa fa-credit-card"></i></a></li>
          <li class="list-credit-items"><a href="#" class="list-credit-link"><i class="fa fa-cc-paypal"></i></a></li>
          <li class="list-credit-items"><a href="#" class="list-credit-link"><i class="fa fa-cc-mastercard"></i></a>
          </li>
          <li class="list-credit-items"><a href="#" class="list-credit-link"><i class="fa fa-cc-discover"></i></a></li>
          <li class="list-credit-items"><a href="#" class="list-credit-link"><i class="fa fa-cc-amex"></i></a></li>
        </ul>
			</div> -->
       <span class="copyright">
          Copyright ©2019 All rights reserved | This template is made with
        </span>
		</div>
  </div>
</footer>
