<div class="compare-container row-spc-btwn-cntr">
  <button
    class="compare-wishlist-btn flex-center-center"
    [class.in-wish-list]="isInWishList"
    [class.small]="isSmall"
    (click)="onWishListClickEmit()"
    [matTooltip]="isInWishList ? ('BUTTONS.remove_from_wish_list' | translate) : ('BUTTONS.add_to_wish_list' | translate)"
    matTooltipPosition="above"
    [matTooltipDisabled]="!isTooltips"
  >
    <i class="far fa-heart icon-out"></i>
    <i class="fas fa-heart icon-in"></i>
    <span *ngIf="!isSmall">
      {{ isInWishList ?
        ('BUTTONS.remove_from_wish_list' | translate) :
        ('BUTTONS.add_to_wish_list' | translate) }}
    </span>
  </button>
  <button
    class="compare-wishlist-btn flex-center-center"
    [class.small]="isSmall"
    (click)="onCompareClickEmit()"
    [matTooltip]="'BUTTONS.add_to_compare' | translate"
    matTooltipPosition="above"
    [matTooltipDisabled]="!isTooltips"
  >
    <i class="fas fa-exchange-alt"></i>
    <span *ngIf="!isSmall">
      {{ 'BUTTONS.add_to_compare' | translate }}
    </span>
  </button>
  <button
    *ngIf="isSmall"
    class="compare-wishlist-btn flex-center-center"
    [class.small]="isSmall"
    (click)="onQuickView()"
    [matTooltip]="'BUTTONS.quick_view' | translate"
    matTooltipPosition="above"
    [matTooltipDisabled]="!isTooltips"
  >
    <i class="far fa-eye"></i>
  </button>
</div>
