@import '../../../assets/themes/containers';
@import '../../../assets/themes/variables';
@import '../../../assets/themes/topography';

.header-top {
  @extend .row-spc-btwn-cntr;
  background-color: $color-main-1;
  width: inherit;
  color: $color-main-2;
  padding: 10px 0;
  font-size: 14px;
}

.fas, .far {
  color: $color-main-3;
  font-size: 10px;
  margin-right: 8px;
}

.mobile-menu {
  display: none;
}

.header-bottom {
  @extend .row-spc-btwn-cntr;
  justify-content: space-around;
  width: inherit;
  padding: 15px 0;
  background-color: $color-main-4;
  color: $color-main-2;
  font-size: 14px;
  border-bottom: 3px solid $color-main-3;
}

.logo {
  width: 200px;
  height: 70;
  padding: 0 10px;
}

.cat-select {
  max-width: 150px;
  height: 40px;
  border-radius: 40px 0px 0px 40px;
  padding: 0px 15px;
  background: $color-main-2;
  border: 1px solid $color-main-5;
  outline: none;
  font-size: inherit;
}

.search-form {
  display: flex;
  flex-wrap: nowrap;
}

.search {
  max-width: 200px;
  height: 40px;
  padding: 0px 15px;
  background: $color-main-2;
  border: 1px solid $color-main-5;
  outline: none;
  font-size: inherit;
}

.search-btn {
  height: 40px;
  width: 100px;
  background: $color-main-3;
  color: $color-main-2;
  font-weight: 700;
  border: none;
  border-radius: 0px 40px 40px 0px;
  outline: none;
  transition: all 0.3s;
  cursor: pointer;
  font-size: inherit;
  &:hover {
    opacity: 0.8;
  }
}

.basket-wish-list {
  @extend .row-spc-btwn-cntr;
  font-size: 14px;
  padding: 0 15px;
}

.basket-item-txt {
  transition: all 0.3s;
}

.basket-item {
  @extend .col-spc-btwn-cntr;
  position: relative;
  font-size: inherit;
  padding: 0 10px;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 12px;
  .far,
  .fas {
    color: $color-main-2;
    padding: 5px 0;
    font-size: 16px;
  }
  &:hover {
    .basket-item-txt {
      color: $color-main-3;
    }
  }
}

.counter {
  @extend .col-spc-btwn-cntr;
  position: absolute;
  right: 12px;
  top: -10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  font-size: 10px;
  color: $color-main-2;
  background-color: $color-main-3;
}

.wl-count {
  right: 25px;
}

.fa-bars {
  color: $color-main-2;
  font-size: 12px;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    color: $color-main-3;
  }
}

@media screen and (max-width: $break-large) {
  .logo {
    width: 150px;
    height: 60;
    padding: 0 5px;
  }
  .search-btn {
    height: 40px;
    width: 70px;
  }
}

@media screen and (max-width: $break-medium) {
  .search-form {
    display: none;
  }
}


@media screen and (max-width: $break-small) {
  .contacts-info {
    display: none;
  }

  .header-top {
    padding: 15px 0;
  }

  .mobile-menu {
    display: block;
  }

  .logo {
    width: 125px;
  }

};
