// Colors

$color-main-1: #1E1F29;
$color-main-2: #fff;
$color-main-3: #D10024;
$color-main-4: #15161D;
$color-main-5: #E4E7ED;
$color-main-6: #2B2D42;
$color-main-7: #FBFBFC;
$color-main-8: #8D99AE;
$color-main-9: #ef233c;
$color-main-10: #33cc33;
$color-main-11: #333333;



  //  Media break points

$break-tiny: 480px;
$break-small: 600px;
$break-medium: 800px;
$break-large: 960px;

  // image sizes
$swiper-mini-size: 120px;
