// Colors

$color-main-1: #1E1F29;
$color-main-2: #fff;
$color-main-3: #D10024;
$color-main-4: #15161D;
$color-main-5: #E4E7ED;
$color-main-6: #2B2D42;



  //  Media break points

$break-tiny: 480px;
$break-small: 600px;
$break-medium: 800px;
$break-large: 960px;
